In [5]:
#execute;执行  connect;链接
#返回系统中的数据库列表：
import mysql.connector
mydb=mysql.connector.connect(
host="localhost",
  user="root",
  passwd="123456"
)
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('companysales',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [4]:
#创建名为 "mydatabase" 的数据库：
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="123456"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [7]:
#尝试连接数据库 "mydatabase"：
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="123456",
  database="mydatabase"  
)
#如果数据库不存在，会收到错误

In [ ]:
如需在 MySQL 中创建表，请使用 "CREATE TABLE" 语句。

请确保在创建连接时定义数据库的名称。

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="123456",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [10]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="123456",
  database="mydatabase"
)
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('customers',)

In [ ]:
创建表时，您还应该为每条记录创建一个具有唯一键的列。
这可以通过定义 PRIMARY KEY 来完成。
我们使用语句 "INT AUTO_INCREMENT PRIMARY KEY"，它将为每条记录插入唯一的编号。从 1 开始，每个记录递增 1